services:
  database:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "27017:27017"
    networks:
      - proxy
    volumes:
      - mongo_data:/data/db

  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - .:/app
    expose:
      - "8000"
    environment:
      - VIRTUAL_HOST=server.samara.fun
      - VIRTUAL_PORT=8000
      - LETSENCRYPT_HOST=server.samara.fun
      - LETSENCRYPT_EMAIL=developer.samara.web@gmail.com
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      - proxy
    depends_on:
      - database
    command: ["node", "index.js"]

  webapp:
    build:
      context: ./webapp
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      - VIRTUAL_HOST=webapp.samara.fun
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=webapp.samara.fun
      - LETSENCRYPT_EMAIL=developer.samara.web@gmail.com
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      - proxy
    depends_on:
      - database

  nginx-proxy:
    container_name: nginx-proxy
    image: nginxproxy/nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy

  acme-companion:
    image: nginxproxy/acme-companion
    restart: unless-stopped
    environment:
      - DEFAULT_EMAIL=developer.samara.web@gmail.com
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - certs:/etc/nginx/certs
      - acme:/etc/acme.sh
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - nginx-proxy
    networks:
      - proxy

volumes:
  mongo_data:
  conf:
  vhost:
  html:
  certs:
  acme:

networks:
  proxy:
    name: proxy-network