@reference "tailwindcss";

.completed{
    @apply flex flex-col justify-between h-[calc(100vh-50px)] w-full
}

.completed-content{
    @apply flex flex-col items-center
}

.completed-title{
    @apply text-2xl uppercase font-bold text-center
}

.completed-subtitle{
    @apply text-xl uppercase font-bold text-center mb-2
}

.completed-badge{
    @apply text-xs text-center bg-[#2b7fff] uppercase font-medium py-1 px-3 rounded-lg mb-3 cursor-pointer
}

.completed-badges{
    @apply flex flex-wrap gap-2
}

.completed-description{
    @apply text-sm text-center text-slate-300
}